@import "../../.cache/wal/colors-waybar.css";


* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: alpha(@background, 0);
    color: alpha(@foreground, 0);
}

#workspaces button {
    padding: 5px;
    color: alpha(@foreground, 0.75);
    margin-right: 5px;
}

#workspaces button.active {
    color: alpha(@foreground, 1);
}

#workspaces button.focused {
    color: alpha(@foreground, 0.75);
    background: alpha(@background, 0.8);
    border-radius: 3px;
}

#workspaces button.urgent {
    color: alpha(@foreground, 0.75);
    background: alpha(@background, 0.8);
    border-radius: 3px;
}

#workspaces button:hover {
    color: alpha(@background, 0.75);
    border-radius: 3px;
}

#custom-language,
#custom-updates,
#custom-syncdots,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: alpha(@background, 0.8);
    padding: 0px 15px;
    margin: 3px 0px;
    margin-top: 9px;
    border: 0px solid @background;
}

#workspaces {
    background: alpha(@background, 0.8);
    border-radius: 3px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-syncdots {
    color: alpha(@foreground, 0.75);
    border-radius: 3px 0 0 3px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
}

#window {
    color: alpha(@foreground, 0.75);
    border-radius: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

#clock {
    color: alpha(@foreground, 0.75);
    border-radius: 3px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
}

#network {
    color: alpha(@foreground, 0.75);
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: alpha(@foreground, 0.75);
    border-radius: 0 3px 3px 0;
    margin-right: 10px;
    border-left: 0px;
}