* {
    border: none;
    border-radius: 0;
    font-family: Noto Sans Mono;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#workspaces button {
    padding: 5px;
    color: #a5adcb;
    margin-right: 5px;
}

#workspaces button.active {
    color: #cad3f5;
}

#workspaces button.focused {
    color: #cad3f5;
    background: #181926;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #cad3f5;
    background: #181926;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #181926;
    color: #cad3f5;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-syncdots,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #24273a;
    padding: 0px 15px;
    margin: 3px 0px;
    margin-top: 9px;
    border: 0px solid #cad3f5;
}

#workspaces {
    background: #24273a;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-syncdots {
    color: #cad3f5;
    border-radius: 10px 0 0 10px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
}

#window {
    color: #cad3f5;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#clock {
    color: #cad3f5;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 10px;
}

#network {
    color: #cad3f5;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #cad3f5;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}