@import "../../.cache/wal/colors-waybar.css";


/* GENERAL */

* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 101%;
    font-weight: bold;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 1px;
    border: none;
    border-radius: 3px; 
    color: alpha(@foreground, 1);
}

window#waybar {
    background: alpha(@background, 0);
    color: alpha(@foreground, 0);
}


/* === MODULES LEFT === */

/* WEATHER + CLOCK GROUP */
#weatherclock {
    background: alpha(@background, 0.8);
    padding: 0px 11px; /* no padding top & bottom; 11px padding left & right */

    /* border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

#weatherclock #custom-weather,
#weatherclock #clock {
    padding: 0px;
}

/* ACTIVE WINDOW NAME */
#window {
    background: alpha(@background, 0.8);
    padding: 0px 11px; /* no padding top & bottom; 11px padding left & right */
    
    /* border: 3px solid rgba(255, 0, 132, 0.8); */
}


/* === MODULES RIGHT === */

/* VOLUME (WIREPLUMBER) */
#wireplumber {
    background: alpha(@background, 0.8);
    padding: 0px 11px; /* no padding top & bottom; 11px padding left & right */

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

/* COPY CONFIG */
#custom-copyconfig {
    background: alpha(@background, 0.8);
    padding: 0px 11px; /* no padding top & bottom; 11px padding left & right */

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

/* VPN */
#custom-vpn {
    background: alpha(@background, 0.8);
    padding: 0px 11px; /* no padding top & bottom; 11px padding left & right */

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

#custom-vpn.connected {
    color: #00CC66;
}

#custom-vpn.disconnected {
    color: #FF3300;
}

#custom-vpn:hover {
    color: alpha(@foreground, 1);
}

/* SWAYNC MENU */
#custom-nc {
    background: alpha(@background, 0.8);
    padding: 0px 11px; /* no padding top & bottom; 11px padding left & right */

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}


/* === MODULES CENTER === */

/* WORKSPACES */
#workspaces {
    background: alpha(@background, 0.8);
    padding-right: 5px;
    padding-left: 5px;

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

/* WORKSPACE BUTTON SETTINGS */
#workspaces button {
    padding: 5px;
    color: alpha(@foreground, 0.6);
}

#workspaces button.active {
    color: alpha(@foreground, 1);
}

#workspaces button.focused {
    color: alpha(@foreground, 0.1);
}

#workspaces button.urgent {
    color: alpha(@foreground, 0.75);
}

#workspaces button:hover {
    color: alpha(@foreground, 1);
}
