@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 101%;
    font-weight: bold;
    /*font-style: italic;*/
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    
    padding: 1px;
    
    border: none;
    border-radius: 3px; 
    min-height: 0;
    
    color: alpha(@foreground, 1);

    /* default visual settings for all unstyled modules */
    /*
    padding: 0px 15px;
    margin: 9px;
    margin-bottom: 0px;
    background: alpha(@background, 0.8);
    color: alpha(@foreground, 1);
    border-radius: 3px;
    */
}

window#waybar {
    background: alpha(@background, 0);
    color: alpha(@foreground, 0);
}

#custom-weather {
    background: alpha(@background, 0.8);
    padding: 0px 15px;
    margin: 9px;
    margin-bottom: 0px;

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

#custom-nc {
    background: alpha(@background, 0.8);
    padding: 0px 15px;
    margin: 9px;
    margin-bottom: 0px;

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

#custom-vpn {
    background: alpha(@background, 0.8);
    padding: 0px 15px;
    margin: 9px;
    margin-bottom: 0px;

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}

#custom-vpn.connected {
    color: #00CC66;
}

#custom-vpn.disconnected {
    color: #FF3300;
}

#custom-vpn:hover {
    color: alpha(@foreground, 1);
}



#workspaces, #window, #clock, #custom-syncdots {
    background: alpha(@background, 0.8);
    padding: 0px 15px;
    margin: 9px;
    margin-bottom: 0px;

    /*border: 3px solid rgba(255, 0, 132, 0.8); */ /* bright pink border for testing */
}


#workspaces button {
    padding: 5px;
    color: alpha(@foreground, 0.6);
    margin-right: 5px;
}

#workspaces button.active {
    color: alpha(@foreground, 1);
}

#workspaces button.focused {
    color: alpha(@foreground, 0.1);
    background: alpha(@background, 0.8);
}

#workspaces button.urgent {
    color: alpha(@foreground, 0.75);
    background: alpha(@background, 0.8);
    border-radius: 3px;
}

#workspaces button:hover {
    color: alpha(@foreground, 1);
    border-radius: 3px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

